body{
    background:#e9e9e9;
    font-family:Arial;
}

.container{
    width:600px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px #999;
}

input{
    display:block;
    width:90%;
    padding:10px;
    margin:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    margin:10px;
    padding:10px 15px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.marks{
    display:flex;
    justify-content: space-between;
}

.marks input{
    width:45%;
}
